.container {
    display: flex;
    /*justify-content: center; !* Horizontal centering *!*/
    align-items: center; /* Vertical centering */
    flex-direction: column;
}
.status{
    display: none;
}
#loader {
    margin-top: 20px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
    /*visibility: hidden;*/
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.pageListItem{
    display: none;
}
h2 {
    display: inline;
}
h3{
    text-align: center;
}
textarea {
    width: 500px;
    height: 150px;
}
.invalidPicturesBtn{
    font-size: large;
    margin-left: 10px;
}
.alert-icon {
    background-color: yellow;
    color: black;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50%;
}
.permissionWarning{
    display: none;
}